<!DOCTYPE html>

<html lang="en">

    <head>
      <%= partial "includes/head" %>
    </head>

    <body>
      <div class="site-wrapper">
        <div class="site-wrapper-inner">
          <div class="cover-container">

            <%= partial "includes/nav" %>

            <div class="inner cover">

              <%= yield %>

            </div>
            <div class="mastfoot">
              <div class="inner">

                <%= partial "includes/footer" %>

              </div>
            </div>
          </div>
        </div>
      </div>

      <%= partial "includes/common/analytics" %>

    </body>

</html>
